body {

background-color: rosybrown;
  /* background-image: linear-gradient(to left,  #e84a5f, #2a363b);  */
}

#canvas {
background-color: blacka2;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  
}

.conte{
  display: flex;
  justify-content: space-between;
  font-size: 50px;
}

.contenedor {
  display: flex;
  justify-content: center;
  


  /* width: 30px;
  height: 30px;
  text-align: center; */
}

.linkedin {
  width: 60px;
  height: 35px;
}

img{
 
  width: 30px;
  height: 30px;
}

.gitlog{
   padding-top: 3px;
}