body {
  background-color: #494d5f;
}

#canvas {
  background-color: #;
  border-width: 2px;
  border-color: #d0bdf4;
  border-style: solid;
}

footer img {
  width: 30px;
  height: 30px;
  text-align: center;
}
