body {
  margin: 0;
  background-color: #99b898;
  
}

.comenzar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 450px;
}

#start-btn,
#restart-btn {
  background-color: lightgray;
  font-family: "Monoton", cursive;
  color: black;
  padding: 15px;
  font-size: 25px;
  margin-top: 40px;
  border-radius: 20px;
  
}

.hidden {
  display: none;
}

#canvas {
  background-color: blacka2;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

header {
  display: flex;
  justify-content: center;
  font-family: "Monoton", cursive;
  font-size: 90px;
  background: linear-gradient(
    90deg,
    #99b898,
    #fecea8,
    #ff847c,
    #e84a5f,
    #2a363b
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}



@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.conte {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  font-family: "Monoton", cursive;
}

.contenedor {
  display: flex;
  justify-content: center;


}

.linkedin {
  width: 60px;
  height: 35px;
}

img {

  width: 30px;
  height: 30px;
}

.gitlog {
  padding-top: px;
}


